.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    order: 1;
    margin-left: 40px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.links {
    order: 2;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin-right: 40px;
}

.link {
    margin: 0 10px;
}