.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: slategray;
}

.logo {
    order: 1;
    margin-left: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: aliceblue;
}

.links {
    order: 2;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-right: 80px;
    
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: aliceblue;
}